/* .counter{
    display: flex;
    border: 2px solid green;
    width: fit-content;
    padding: 7px;
    gap: 10px;
    font-size: large;
    font-weight: 600;
    border-radius: 8px;
    span{
        padding: 3px;
    }
} */